In [1]:
from utilities.logger import StandardLogger
from utilities.yahoo_data import YahooDataLoader

logger = StandardLogger('../_log/')
logPrint = logger.logPrint

In [16]:
ticker = 'KXI'

yahoo = YahooDataLoader(ticker, date_start='2000-01-01', printfunc=logPrint)
df = yahoo.queryEOD(save=True)

df.tail(5)

KXI: Queried EOD data contains 3870 rows over 3870 dates from 2006-09-22 to 2022-02-04.
KXI: Save queried data to data/KXI_EOD.csv.gz.

           date       open       high        low      close  close_adj  volume
3865 2022-01-31  62.270000  63.020000  62.130001  62.990002  62.990002   79800
3866 2022-02-01  63.000000  63.119999  62.520000  63.090000  63.090000  401300
3867 2022-02-02  63.209999  63.779999  63.209999  63.709999  63.709999   61200
3868 2022-02-03  63.340000  63.669998  63.209999  63.400002  63.400002   28400
3869 2022-02-04  63.029999  63.189999  62.619999  62.869999  62.869999   32800