In [1]:
from utilities.logger import FileLogger
from utilities.yahoo_data import YahooDataLoader

logger = FileLogger()
logPrint = logger.log_pandas

In [2]:
ticker = 'AAXJ'

yahoo = YahooDataLoader(ticker, date_start='2000-01-01', printfunc=logPrint)
df = yahoo.queryEOD(save=True)

df.tail(5)

AAXJ: Queried EOD data contains 3397 rows over 3397 dates from 2008-08-15 to 2022-02-10.
AAXJ: Save queried data to data/AAXJ_EOD.csv.gz.

,date,open,high,low,close,close_adj,volume
3392,2022-02-04,80.930000,81.800003,80.779999,81.519997,81.519997,643700
3393,2022-02-07,81.290001,81.660004,81.040001,81.300003,81.300003,1251600
3394,2022-02-08,81.080002,81.989998,81.080002,81.919998,81.919998,709700
3395,2022-02-09,82.669998,83.330002,82.639999,83.320000,83.320000,917900
3396,2022-02-10,82.470001,83.690002,82.470001,82.690002,82.690002,1180900