# WIP: Back-test

This example is still WIP.
* Load Data
* Back Test - the Basic Idea

In [1]:
from grandma_stock_valuation import FileLogger, loadPacakgeData
from grandma_stock_valuation import batchValuation, addCashPortfolio, getCorrelationWeight, allocatePortfolio

# Refer to example_0_FileLogger.ipynb for details of the FileLogger.
logger = FileLogger()
logPrint = logger.logPandas

### Load Data

For this example, I will use the stored package data.

To query data from Yahoo, please refer to *example_1_yahoo_data_loader.ipynb*.

In [2]:
d_instrument_data, d_instrument = loadPacakgeData(verbose=2)

d_instrument

EEMA data contains 2530 rows, 2530 dates from 2012-02-09 to 2022-02-28.
IEV data contains 5431 rows, 5431 dates from 2000-07-28 to 2022-02-28.
IVV data contains 5479 rows, 5479 dates from 2000-05-19 to 2022-02-28.
VPL data contains 4273 rows, 4273 dates from 2005-03-10 to 2022-02-28.

{'IVV': 'SP500',
 'VPL': 'Developed Asia-Pacific',
 'IEV': 'Europe',
 'EEMA': 'Emerging Asia'}

In [3]:
logPrint("Keys of d_instrument_data:", str(d_instrument_data.keys()))

logPrint("IVV (SP500 ETF):", d_instrument_data['IVV'].head())

2022-03-10 20:01:12,058 INFO Keys of d_instrument_data: dict_keys(['EEMA', 'IEV', 'IVV', 'VPL'])
2022-03-10 20:01:12,067 INFO IVV (SP500 ETF):
        date       open       high        low      close  close_adj   volume
0 2000-05-19  142.65625  142.65625  140.25000  140.68750  94.121216   775500
1 2000-05-22  140.59375  140.59375  136.81250  139.81250  93.535789  1850600
2 2000-05-23  140.21875  140.21875  137.68750  137.68750  92.114151   373900
3 2000-05-24  137.75000  140.06250  136.65625  139.75000  93.494003   400300
4 2000-05-25  140.03125  140.93750  137.87500  138.46875  92.636810    69600

### Back Test - the Basic Idea

WIP
* back test is to understand how your strategy behaves under various scenanios, not to prove your strategy can beat xxx.
* most investment products are not built to beat xxx.
* historical performance cannot represent future performance.

### Back Test - WIP

In [5]:
from grandma_stock_valuation.back_test import GrandmaBackTester

backtester = GrandmaBackTester(
    backtest_years=10,
    adjust_freq_months=1,
    init_parameters={'recent_months':0, 'train_years':10, 'min_train_years':5, 'date_end':None},
    fit_parameters={'price_col':'close_adj', 'log':True, 'n_std':1.5},
    valuate_parameters={'min_annual_return':0.01},
    allocation_parameters={'transformation':'sigmoid', 'scale':1},
    with_cash=True,
    with_correlation_weights=True,
    verbose=1,
    printfunc=logPrint
)

backtester.runBackTest(d_instrument_data)

backtester.df_average_value

2022-03-10 20:01:59,612 INFO To backtest 10 years, from 2012-03-01 to 2022-02-28
2022-03-10 20:01:59,614 INFO EEMA's start date 2012-02-09 is beyond 2007-03-01 for full back-test.
2022-03-10 20:02:00,134 INFO Adjust portfolio on 2012-04-02, total value = 1.004962
2022-03-10 20:02:00,450 INFO Adjust portfolio on 2012-05-01, total value = 0.988057
2022-03-10 20:02:00,803 INFO Adjust portfolio on 2012-06-01, total value = 0.906618
2022-03-10 20:02:01,158 INFO Adjust portfolio on 2012-07-02, total value = 0.969176
2022-03-10 20:02:01,504 INFO Adjust portfolio on 2012-08-01, total value = 0.969958
2022-03-10 20:02:01,857 INFO Adjust portfolio on 2012-09-04, total value = 0.993194
2022-03-10 20:02:02,177 INFO Adjust portfolio on 2012-10-01, total value = 1.017008
2022-03-10 20:02:02,511 INFO Adjust portfolio on 2012-11-01, total value = 1.025631
2022-03-10 20:02:02,856 INFO Adjust portfolio on 2012-12-03, total value = 1.031676
2022-03-10 20:02:03,200 INFO Adjust portfolio on 2013-01-02, total value = 1.060640
2022-03-10 20:02:03,538 INFO Adjust portfolio on 2013-02-01, total value = 1.077617
2022-03-10 20:02:03,857 INFO Adjust portfolio on 2013-03-01, total value = 1.068366
2022-03-10 20:02:04,176 INFO Adjust portfolio on 2013-04-01, total value = 1.069276
2022-03-10 20:02:04,536 INFO Adjust portfolio on 2013-05-01, total value = 1.088071
2022-03-10 20:02:04,875 INFO Adjust portfolio on 2013-06-03, total value = 1.091924
2022-03-10 20:02:05,196 INFO Adjust portfolio on 2013-07-01, total value = 1.086708
2022-03-10 20:02:05,542 INFO Adjust portfolio on 2013-08-01, total value = 1.113399
2022-03-10 20:02:05,884 INFO Adjust portfolio on 2013-09-03, total value = 1.112676
2022-03-10 20:02:06,309 INFO Adjust portfolio on 2013-10-01, total value = 1.118692
2022-03-10 20:02:06,723 INFO Adjust portfolio on 2013-11-01, total value = 1.119193
2022-03-10 20:02:07,055 INFO Adjust portfolio on 2013-12-02, total value = 1.119303
2022-03-10 20:02:07,357 INFO Adjust portfolio on 2014-01-02, total value = 1.119425
2022-03-10 20:02:07,633 INFO Adjust portfolio on 2014-02-03, total value = 1.119163
2022-03-10 20:02:07,870 INFO Adjust portfolio on 2014-03-03, total value = 1.122099
2022-03-10 20:02:08,104 INFO Adjust portfolio on 2014-04-01, total value = 1.122243
2022-03-10 20:02:08,332 INFO Adjust portfolio on 2014-05-01, total value = 1.122278
2022-03-10 20:02:08,560 INFO Adjust portfolio on 2014-06-02, total value = 1.122364
2022-03-10 20:02:08,790 INFO Adjust portfolio on 2014-07-01, total value = 1.122420
2022-03-10 20:02:09,022 INFO Adjust portfolio on 2014-08-01, total value = 1.122333
2022-03-10 20:02:09,251 INFO Adjust portfolio on 2014-09-02, total value = 1.122694
2022-03-10 20:02:09,558 INFO Adjust portfolio on 2014-10-01, total value = 1.122349
2022-03-10 20:02:09,792 INFO Adjust portfolio on 2014-11-03, total value = 1.123181
2022-03-10 20:02:10,064 INFO Adjust portfolio on 2014-12-01, total value = 1.125869
2022-03-10 20:02:10,310 INFO Adjust portfolio on 2015-01-02, total value = 1.123488
2022-03-10 20:02:10,544 INFO Adjust portfolio on 2015-02-02, total value = 1.130792
2022-03-10 20:02:10,770 INFO Adjust portfolio on 2015-03-02, total value = 1.139622
2022-03-10 20:02:11,012 INFO Adjust portfolio on 2015-04-01, total value = 1.138961
2022-03-10 20:02:11,248 INFO Adjust portfolio on 2015-05-01, total value = 1.141685
2022-03-10 20:02:11,476 INFO Adjust portfolio on 2015-06-01, total value = 1.141752
2022-03-10 20:02:11,713 INFO Adjust portfolio on 2015-07-01, total value = 1.140730
2022-03-10 20:02:11,946 INFO Adjust portfolio on 2015-08-03, total value = 1.142247
2022-03-10 20:02:12,175 INFO Adjust portfolio on 2015-09-01, total value = 1.130757
2022-03-10 20:02:12,415 INFO Adjust portfolio on 2015-10-01, total value = 1.129185
2022-03-10 20:02:12,738 INFO Adjust portfolio on 2015-11-02, total value = 1.190835
2022-03-10 20:02:12,968 INFO Adjust portfolio on 2015-12-01, total value = 1.189588
2022-03-10 20:02:13,219 INFO Adjust portfolio on 2016-01-04, total value = 1.170853
2022-03-10 20:02:13,448 INFO Adjust portfolio on 2016-02-01, total value = 1.139870
2022-03-10 20:02:13,680 INFO Adjust portfolio on 2016-03-01, total value = 1.143921
2022-03-10 20:02:13,923 INFO Adjust portfolio on 2016-04-01, total value = 1.171256
2022-03-10 20:02:14,167 INFO Adjust portfolio on 2016-05-02, total value = 1.198675
2022-03-10 20:02:14,409 INFO Adjust portfolio on 2016-06-01, total value = 1.196216
2022-03-10 20:02:14,645 INFO Adjust portfolio on 2016-07-01, total value = 1.186131
2022-03-10 20:02:14,879 INFO Adjust portfolio on 2016-08-01, total value = 1.212650
2022-03-10 20:02:15,223 INFO Adjust portfolio on 2016-09-01, total value = 1.223198
2022-03-10 20:02:15,460 INFO Adjust portfolio on 2016-10-03, total value = 1.222419
2022-03-10 20:02:15,698 INFO Adjust portfolio on 2016-11-01, total value = 1.199243
2022-03-10 20:02:15,936 INFO Adjust portfolio on 2016-12-01, total value = 1.209809
2022-03-10 20:02:16,196 INFO Adjust portfolio on 2017-01-03, total value = 1.244395
2022-03-10 20:02:16,417 INFO Adjust portfolio on 2017-02-01, total value = 1.265025
2022-03-10 20:02:16,684 INFO Adjust portfolio on 2017-03-01, total value = 1.295957
2022-03-10 20:02:16,966 INFO Adjust portfolio on 2017-04-03, total value = 1.304411
2022-03-10 20:02:17,220 INFO Adjust portfolio on 2017-05-01, total value = 1.327444
2022-03-10 20:02:17,483 INFO Adjust portfolio on 2017-06-01, total value = 1.352280
2022-03-10 20:02:17,749 INFO Adjust portfolio on 2017-07-03, total value = 1.351835
2022-03-10 20:02:18,084 INFO Adjust portfolio on 2017-08-01, total value = 1.374300
2022-03-10 20:02:18,357 INFO Adjust portfolio on 2017-09-01, total value = 1.374855
2022-03-10 20:02:18,614 INFO Adjust portfolio on 2017-10-02, total value = 1.394964
2022-03-10 20:02:18,883 INFO Adjust portfolio on 2017-11-01, total value = 1.413689
2022-03-10 20:02:19,161 INFO Adjust portfolio on 2017-12-01, total value = 1.429347
2022-03-10 20:02:19,428 INFO Adjust portfolio on 2018-01-02, total value = 1.449949
2022-03-10 20:02:19,696 INFO Adjust portfolio on 2018-02-01, total value = 1.492674
2022-03-10 20:02:19,956 INFO Adjust portfolio on 2018-03-01, total value = 1.447370
2022-03-10 20:02:20,225 INFO Adjust portfolio on 2018-04-02, total value = 1.426834
2022-03-10 20:02:20,502 INFO Adjust portfolio on 2018-05-01, total value = 1.456056
2022-03-10 20:02:20,866 INFO Adjust portfolio on 2018-06-01, total value = 1.469677
2022-03-10 20:02:21,140 INFO Adjust portfolio on 2018-07-02, total value = 1.443516
2022-03-10 20:02:21,422 INFO Adjust portfolio on 2018-08-01, total value = 1.478125
2022-03-10 20:02:21,701 INFO Adjust portfolio on 2018-09-04, total value = 1.468426
2022-03-10 20:02:21,957 INFO Adjust portfolio on 2018-10-01, total value = 1.479638
2022-03-10 20:02:22,235 INFO Adjust portfolio on 2018-11-01, total value = 1.397209
2022-03-10 20:02:22,499 INFO Adjust portfolio on 2018-12-03, total value = 1.422331
2022-03-10 20:02:22,747 INFO Adjust portfolio on 2019-01-02, total value = 1.333799
2022-03-10 20:02:23,017 INFO Adjust portfolio on 2019-02-01, total value = 1.422482
2022-03-10 20:02:23,273 INFO Adjust portfolio on 2019-03-01, total value = 1.455158
2022-03-10 20:02:23,625 INFO Adjust portfolio on 2019-04-01, total value = 1.482612
2022-03-10 20:02:23,907 INFO Adjust portfolio on 2019-05-01, total value = 1.494788
2022-03-10 20:02:24,170 INFO Adjust portfolio on 2019-06-03, total value = 1.428075
2022-03-10 20:02:24,433 INFO Adjust portfolio on 2019-07-01, total value = 1.508638
2022-03-10 20:02:24,710 INFO Adjust portfolio on 2019-08-01, total value = 1.468803
2022-03-10 20:02:24,982 INFO Adjust portfolio on 2019-09-03, total value = 1.448679
2022-03-10 20:02:25,247 INFO Adjust portfolio on 2019-10-01, total value = 1.474684
2022-03-10 20:02:25,529 INFO Adjust portfolio on 2019-11-01, total value = 1.539537
2022-03-10 20:02:25,807 INFO Adjust portfolio on 2019-12-02, total value = 1.541242
2022-03-10 20:02:26,172 INFO Adjust portfolio on 2020-01-02, total value = 1.621738
2022-03-10 20:02:26,449 INFO Adjust portfolio on 2020-02-03, total value = 1.587331
2022-03-10 20:02:26,703 INFO Adjust portfolio on 2020-03-02, total value = 1.530251
2022-03-10 20:02:26,978 INFO Adjust portfolio on 2020-04-01, total value = 1.291335
2022-03-10 20:02:27,248 INFO Adjust portfolio on 2020-05-01, total value = 1.408293
2022-03-10 20:02:27,513 INFO Adjust portfolio on 2020-06-01, total value = 1.517728
2022-03-10 20:02:27,778 INFO Adjust portfolio on 2020-07-01, total value = 1.556450
2022-03-10 20:02:28,055 INFO Adjust portfolio on 2020-08-03, total value = 1.627347
2022-03-10 20:02:28,331 INFO Adjust portfolio on 2020-09-01, total value = 1.685837
2022-03-10 20:02:28,696 INFO Adjust portfolio on 2020-10-01, total value = 1.656416
2022-03-10 20:02:28,972 INFO Adjust portfolio on 2020-11-02, total value = 1.625744
2022-03-10 20:02:29,230 INFO Adjust portfolio on 2020-12-01, total value = 1.801952
2022-03-10 20:02:29,510 INFO Adjust portfolio on 2021-01-04, total value = 1.830586
2022-03-10 20:02:29,767 INFO Adjust portfolio on 2021-02-01, total value = 1.842491
2022-03-10 20:02:30,014 INFO Adjust portfolio on 2021-03-01, total value = 1.879657
2022-03-10 20:02:30,302 INFO Adjust portfolio on 2021-04-01, total value = 1.909088
2022-03-10 20:02:30,578 INFO Adjust portfolio on 2021-05-03, total value = 1.946270
2022-03-10 20:02:30,844 INFO Adjust portfolio on 2021-06-01, total value = 1.956146
2022-03-10 20:02:31,117 INFO Adjust portfolio on 2021-07-01, total value = 1.971943
2022-03-10 20:02:31,400 INFO Adjust portfolio on 2021-08-02, total value = 1.980231
2022-03-10 20:02:31,672 INFO Adjust portfolio on 2021-09-01, total value = 2.006290
2022-03-10 20:02:32,049 INFO Adjust portfolio on 2021-10-01, total value = 1.969653
2022-03-10 20:02:32,325 INFO Adjust portfolio on 2021-11-01, total value = 2.019890
2022-03-10 20:02:32,592 INFO Adjust portfolio on 2021-12-01, total value = 1.973714
2022-03-10 20:02:32,873 INFO Adjust portfolio on 2022-01-03, total value = 2.033703
2022-03-10 20:02:33,140 INFO Adjust portfolio on 2022-02-01, total value = 1.988672
2022-03-10 20:02:33,241 INFO final portfolio increased by 0.942 over 10 years, which is 0.0686 annualized growth.

In [11]:
import pandas as pd

df_average_value = pd.concat(backtester.d_portfolio.values()).groupby('ticker')['current_value'].mean().reset_index()
df_average_value['avg_pct_allocation'] = df_average_value['current_value'] / df_average_value['current_value'].sum()
df_average_value = df_average_value[['ticker', 'avg_pct_allocation']]

df_average_value

  ticker  avg_pct_allocation
0   EEMA            0.134615
1    IEV            0.182015
2    IVV            0.194760
3    VPL            0.082779
4   cash            0.405831

In [10]:
df_instrument_growth = backtester._df_instrument_prices.iloc[backtester._index_start:].copy()
d_first_prices = df_instrument_growth.apply(lambda se: se.dropna().iloc[0])
df_instrument_growth.apply(lambda se: se/d_first_prices[se.name])

df_instrument_growth.head()

            price_EEMA  price_IEV   price_IVV  price_VPL
date
2012-03-01   45.518845  28.437004  114.176628  40.559399
2012-03-02   46.165085  28.114273  113.879234  40.223755
2012-03-05   45.576843  28.001698  113.408363  39.964397
2012-03-06   45.576843  26.883429  111.657005  39.209198
2012-03-07   44.193214  27.266191  112.491371  39.514324

            price_EEMA  price_IEV  price_IVV  price_VPL
date
2012-03-01    1.000000   1.000000   1.000000   1.000000
2012-03-02    1.014197   0.988651   0.997395   0.991725
2012-03-05    1.001274   0.984692   0.993271   0.985330
2012-03-06    1.001274   0.945368   0.977932   0.966711
2012-03-07    0.970877   0.958828   0.985240   0.974233